/*index.css*/
body {
  margin: 0;
  height: 100vh;
  background-color: #e6e6e6;
  font-family: "Georgia", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img {
  margin-bottom: 35px;
}
.login-button,
.signup-button {
  width: 260px;
  background: #ffffff;
  border: 1.5px solid #333;
  border-radius: 14px;
  text-align: center;
  padding: 12px 0;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.login-button h4,
.signup-button h4 {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
}
.login-button:hover,
.signup-button:hover {
  background-color: #f2f2f2;
  transform: translateY(-1px);
}
.or-separator {
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  position: relative;
}

.or-separator::before,
.or-separator::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #000000;
}

.or-separator h2 {
  margin: 0 12px;
  font-size: 14px;
  font-weight: normal;
  color: #000000;
}
.guest-button {
  margin-top: 18px;
  padding: 6px 18px;
  border-radius: 12px;
  border: 1px solid #000000;
  background: #f3f3f3;
  cursor: pointer;
  transition: all 0.2s ease;
}

.guest-button h4 {
  margin: 0;
  font-size: 13px;
  font-weight: normal;
  color: #000000;
}

.guest-button:hover {
  background: #474747;
}

/*login.css*/
body {
  margin: 0;
  height: 100vh;
  background: #e6e6e6;
  font-family: Georgia, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title h1 {
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 4px;
  margin-bottom: 25px;
}
.input-field {
  width: 260px;
  background: white;
  border: 1.5px solid #333;
  border-radius: 12px;
  padding: 10px 15px;
  margin: 10px 0;
}

.input-field h4 {
  margin: 0;
  font-weight: normal;
  color: #555;
}
.forgot-password {
  margin: 12px 0 30px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.forgot-password h4 {
  margin: 0;
  font-weight: normal;
}

.forgot-password:hover {
  text-decoration: underline;
}
.enter-button {
  border: 1.5px solid #333;
  border-radius: 12px;
  padding: 8px 28px;
  background: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.enter-button h4 {
  margin: 0;
  font-weight: normal;
}

.enter-button:hover {
  background: #f2f2f2;
}

.enter-button:active {
  transform: scale(0.96);
}
body::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 520px;
  background: #dedede;
  border-radius: 6px;
  z-index: -1;
}